[submodule "server"]
	path = server
	url = https://github.com/ftes/clickr-server.git 
[submodule "student"]
	path = student
	url = https://github.com/ftes/clickr-student.git
[submodule "teacher"]
	path = teacher
	url = https://github.com/ftes/clickr-teacher.git
